// 随机生成星星的数量
@function getShadows($n) {
    $result: '#{random(100)}vw #{random(100)}vh 0 0 #fff';

    @for $i from 2 through $n {
        $result: '#{$result}, #{random(100)}vw #{random(100)}vh 0 0 #fff';
    }

    @return unquote($result);
}

$duration: 400s;
$n: 1000;

@for $i from 1 through 5 {

    $duration: $duration / 2;
    $n: floor($n / 2);

    // 画出圆
    .layer#{$i} {
        $size: #{$i}px;
        position: fixed;
        left: 0;
        top: 0;
        width: $size;
        height: $size;
        border-radius: 50%;
        box-shadow: getShadows($n);
        animation: moveUp $duration linear infinite;
        &::after {
            content: '';
            position: inherit;
            left: 0;
            top: 100vh;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            box-shadow: inherit;
        }
    }
}

// 加入动画
@keyframes moveUp {
    to {
        transform: translateY(-100vh);
    }
}